body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background: #f5f5f5;
}

h1, h2 {
    text-align: center;
}

.controls {
    text-align: center;
    margin-bottom: 15px;
}

.controls select,
.controls input {
    padding: 10px;
    font-size: 16px;
    margin: 8px;
}

.result-count {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-bottom: 40px;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
}

th {
    background: #4CAF50;
    color: white;
}

.form-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.form-container input,
.form-container select {
    padding: 10px;
    margin: 6px;
    width: 250px;
    font-size: 15px;
}

button {
    padding: 12px 20px;
    background: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0a71c8;
}

/* FIXED NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background-color: #0047AB;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
  box-sizing: border-box;
  z-index: 10000;
}

.nav-left {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.page-content {
  margin-top: 80px;
  padding: 20px;
}